body{

    background-color: rgb(247, 248, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/animation/2023/12/02/09/57/09-57-29-736_512.gif');
    background-size: cover;
}


html{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 6fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". message message message message message message message message message ."
      ". icon icon icon icon icon icon icon icon icon ."
      ". . start-btn start-btn start-btn . reset-btn reset-btn reset-btn . ."
      ". . . . . . . . . . .";
      align-items: center;
      justify-content: center;
      max-width: 1500px;

  }
  
  .icon {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "reel reel reel"; 
    grid-area: icon; 
    background-color:rgb(99, 148, 99) ;
    border-radius: 2vmin;
    overflow: hidden;
    height: 200px;
    grid-gap: 5px;
    box-shadow: 0 0 5px 5px ;
    align-items: center;
  }

  .reel{
    display: flex;
    background-color: rgb(51, 106, 53);
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    height:100%;
    width:200px;
    top:0px;
    transition: transform 2s ease-in-out;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 7px 5px ;
  }

.emoji{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 150px;
    z-index: 1000;
}
  
  .reset-btn { 
    grid-area: reset-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;



}
  
  .start-btn { 
    grid-area: start-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;


}
  
  .message { 
    grid-area: message;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family:'Ultra';
    margin: 2px;
    color: rgb(6, 54, 18);
 }
 span{
  color:rgb(174,35,24);
 }
 span.lost{
  color:black;
 }

 button{
    text-align: center;
    font-size: 0.9em;
}
  #start{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    height:80%;
    background-color: rgb(42, 142, 26);
    color: white;
    border-radius: 19vmin;
    font-size: 3vmin;
    cursor:pointer;
    
  }

  #reset{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;
    height:70%;
    border-radius: 50vmin;
    font-size: 3vmin;
    cursor:pointer;
  }

.box{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:500px) {
  .message{
    font-size: 1em;
    font-family: 'Black Ops One';
  }
  .container{
    height: 22 vmin;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-areas:
    ". . . . . . . . . . ."
    ". message message message message message message message message message ."
    ". icon icon icon icon icon icon icon icon icon ."
    ". . start-btn start-btn start-btn . reset-btn reset-btn reset-btn . ."
    ". . . . . . . . . . .";
    justify-content: center ; 
    align-items: center;
    width:400px;

  }
  .icon{
    height: 100px;
  }
  .reel{
    width:105px;
  }
  .emoji{
    font-size: 80px;
  }
  .start-btn{
    height:2em;
  }
  .reset-btn{
    height:2em;
  }
  }
