body{

    background-color: rgb(247, 248, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

html{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". message message message message message message message message message ."
      ". icon icon icon icon icon icon icon icon icon ."
      ". . start-btn start-btn start-btn . reset-btn reset-btn reset-btn . ."
      ". . . . . . . . . . .";

    max-width: 1000px;
    min-width:800px;
    /* position: relative; */
  }
  
  .icon {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "reel reel reel"; 
    grid-area: icon; 
    background-color:rgb(99, 148, 99) ;
    overflow: hidden;
    height: 200px;
    grid-gap: 5px;
    






  }

  .reel{
    display: flex;
    background-color: rgb(51, 106, 53);
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    height:100%;
    top:0px;
    transition: transform 2s ease-in-out;
    flex-direction: column;
    position: relative;

  }

.emoji{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 150px;
    z-index: 1000px;
}
  
  .reset-btn { 
    grid-area: reset-btn;
    display: flex;
    align-items: center;
    justify-content: center;


}
  
  .start-btn { 
    grid-area: start-btn;
    display: flex;
    align-items: center;
    justify-content: center;


}
  
  .message { 
    grid-area: message;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    margin: 2px;
 }

 button{
    text-align: center;
    font-size: 0.9em;
}
  #start{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    height:80%;
    background-color: rgb(42, 142, 26);
    color: white;
    border-radius: 19vmin;
    font-size: 0.9em;
    cursor:pointer;
    
  }

  #reset{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;
    height:70%;
    border-radius: 50vmin;
    font-size: 0.9em;
    cursor:pointer;
  }

.box{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}